.bg{
    background-color: #ffff;
}
.bg2{
    /* background-color: #00B9AE; */
    color: #00B9AE;
    
}
.btn{
    color:#00B9AE ;
    border-color: #00B9AE;
}
.btn-full{
    background-color: #00B9AE;
}

.bg-dark {
    background-color:#131312 ;
}
.bg-semi {
    background-color:#171717 ;
}
.bg-lightDark{
background-color: #232323;
}
    

.bg-semiDark{
    background-color: #1C1C1C;
}
.message-list {
    overflow-y: auto;
    height: 500px; /* Adjust height as needed */
  }
.bg4{
    background-color: #20222b;
}

  /* layer1 #131312*/ 
  /* layer2 #1E1D21 */
  /* layer3 #29262C */